<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../../../node_modules/vue/dist/vue.min.js"></script>
</head>

<body>
    <div id="app">
        <input v-model="personObj.name" type="text" />
        <p>我的名字是：{{personObj.name}}</p>
        <input v-model="personObj.age" type="text" />
        <p>我今年已经 {{personObj.age}} 岁了</p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                personObj: {
                    name: '假面骑士',
                    age: 66
                }
            },
            watch: {
                personObj: {
                    handler() {
                        console.log('name的值改变啦')
                    },
                    deep: true    //开启深度侦听
                }
            }
        })
    </script>
</body>

</html>